<h1>FORM PAGE</h1>
<form [formGroup]="form">
    <p>
        Email:<br>
        <input type="email" formControlName="email">
    </p>
    <p *ngIf="form.get('email').errors  && form.get('email').dirty">
        <small *ngIf="form.get('email').hasError('required')">Required form!</small>
        <small *ngIf="form.get('email').hasError('email')">type email form!</small>
    </p>
    <p>
        Name:<br>
        <input type="text" formControlName="name">
    </p>
    <p *ngIf="form.get('name').errors  && form.get('name').touched">
        <small *ngIf="form.get('name').hasError('required')">Required form!</small>
        <small *ngIf="form.get('name').hasError('maxlength')">maxlength 50!</small>
        <small *ngIf="form.get('name').hasError('minlength')">minlength 10!</small>

    </p>
    <p>
        Password:<br>
        <input type="password" formControlName="password">
    </p>
    <p *ngIf="form.get('password').errors  && form.get('password').dirty">
        <small *ngIf="form.get('password').hasError('required')">Required form!</small>
        <small *ngIf="form.get('password').hasError('maxlength')">maxlength 50!</small>
        <small *ngIf="form.get('password').hasError('minlength')">minlength 10!</small>

    </p>

    <button type="submit" [disabled]="form.invalid" (click)="saveForm($event)">
        Save
    </button>
</form>